<script type="text/javascript">

	var  documentLoaded = function (){
		BRDR.context = {
			name : "newWork",
			action : function(html, pannel){
				if(pannel){
					pannel.nextAll(".pannel").remove();
				}
				$("#workLocation")
				.append("<div class='pannel' />")
				.find(".pannel")
				.removeClass("active")
				.last()
				.addClass("active")
				.append(html);

				$("#workLocation .pannel:not(:last-child)")
				.on("click", function(){
					$(this).addClass("active")
					.nextAll(".pannel").remove();
				});
			}
		};

		BRDR.call.getClients()
		.done(function(clients){
			BRDR.context.action(clients);
		});
	};

	window.addEventListener("load", documentLoaded);
	<% if(false === res.locals.layout){ %>
		documentLoaded();
	<% } %>
</script>


<div id="workLocation" class="wrapper">

</div>